{% extends 'base.html' %}

  {% block title %}Entre!{% endblock title %}
  
{% block content %}
  
  <div class="body">
    
    <div class="container">
    <!-- Formulário Login -->
    <div id="loginForm">
      <h2>Entrar</h2>
        {% for message in messages %}
          <p style="color:#e63946; text-align: center;">{{message}}</p>
        {% endfor %}
      <form method="POST">
        {% csrf_token %}
        <input type="text" name='username' placeholder="Username" autocomplete="off" required>
        <input type="password" name="password" autocomplete="new-password" placeholder="Senha" required>
        <button href='.index.html'>Entrar</button>
      </form>
      <div class="toggle" style="display: flex; justify-content: center; gap: .4rem;">
        Não tem conta? <a href="{% url 'cadastro' %}">Criar conta</span>
      </div>
    </div>

  </div>
  
{% endblock content %}


